fastapi
uvicorn[standard]
python-multipart
toml
websockets
huggingface_hub
onnxruntime
Pillow
numpy
pandas
diffusers
accelerate
transformers>=4.44,<5
voluptuous
imagesize
rich
ftfy
albumentations
einops
colorama
tqdm
lion-pytorch
lycoris-lora
dadaptation
prodigyopt
tensorboard
